body {
  background-color:#e2e2e2;
  color:#7E8C8D;
  font-family: 'Source Sans Pro',normal ;
}

a {
  color: #00B7FF;
}





body {

  display: block;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}



.content {
  background-color:rgba(255,255,255,1);
  margin:12px;
  padding:12px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(196,196,196,1);
-moz-box-shadow: 0px 0px 10px 3px rgba(196,196,196,1);
box-shadow: 0px 0px 10px 3px rgba(196,196,196,1);
text-align:center;
}

.waitTimeCircle {
  width:100px;
  height:100px;
  border-radius:100px;
  background-color:#008000;
  color:#fff;
  text-align:center;

}

h4 {
  margin:6px 0px 6px 0px;
}

.number {
  padding-top:16px;
  font-size:48px;
  line-height:40px;
}

.mins {
  font-size:22px;
  color:#e2e2e2;
}

.mobileNumber {
  margin-top:6px;
  margin-bottom:16px;
  width:95%;
  border-style:solid;
  border-width:0px 0px 2px 0px;
  border-color:#e2e2e2;
  font-size:22px;
}

.peopleNumbers {
  margin: 0 auto;

}

.pNum {
  width:50px;
  height:50px;
  border-radius:50px;
  display:inline-block;
  margin:12px 6px 12px 6px;
  background-color:#fff;
  text-align:center;
   margin: 0 auto;
   font-size:30px;
   border-style:solid;
   border-color:#888;
   border-width:2px;
}

.pNumSelected {
  background-color:#888;
  border-style:solid;
  border-color:#888;
  border-width:2px;
  color:#fff;

}

.pNum:hover {
  background-color:#eee;
  color:#000;
  cursor:pointer;
}


.etaNum {
  width:70px;
  height:30px;
  border-radius:50px;
  display:inline-block;
  margin:6px;
  background-color:#fff;
  text-align:center;
   font-size:16px;
   border-style:solid;
   border-color:#888;
   border-width:2px;
}

.etaNumSelected {
  background-color:#888;
  border-style:solid;
  border-color:#888;
  border-width:2px;
  color:#fff;

}

.etaNum:hover {
  background-color:#eee;
  color:#000;
  cursor:pointer;
}

.howsoon {
  margin-top:16px;
}

.book {
  margin-top:16px;
  background-color:green;
  color:#fff;
  width:100%;
  height:50px;
  padding:6px;
  font-size:25px;
}

.book:hover {
  background-color:#000;
  cursor:pointer;
}
